{% load static %}
<!DOCTYPE html>
<html>
<title> Copyright Management </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
{% include "dash/navbar.html" %} 
 <section>
{% include "dash/content.html" %} 
 </section>
    </div>

{% include "dash/partners.html" %} 
{% include "dash/footer.html" %}   
{% include "dash/sharesection.html" %}
</body>
</html> 

