{% load static %}
<!DOCTYPE html>
<html>
<title> Cybersecurity Management </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
{% include "dash/navbar.html" %} 
       {% include "dash/content.html" %} 

            <section  class="content-center mx-8" style="margin-bottom: 2%; margin-top: 1%;">
              <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl text-left py-12 "><span style="color: blue">Packages CVE </span> Checker </h2>



        </section>

        <section class="bg-blue-900">

    <h1>Command Execution Results</h1>

    <h2>Standard Output:</h2>
    <pre>{{ stdout }}</pre>

    <h2>Errors (if any):</h2>
    <pre style="color: red;">{{ stderr }}</pre>

    <h2>Return Code:</h2>
    <p>{{ return_code }}</p>

      </section>
    </div>
  </div>
</div>
</section>
</div>
        <section class="min-h-full">
        {% include "dash/calendary.html" %} 
        </section>
{% include "dash/partners.html" %} 
{% include "dash/footer.html" %}   
{% include "dash/sharesection.html" %}
</body>
</html> 

