{% load static %}
<!DOCTYPE html>
<html>
<title> Django Octo Dashboard </title>
<head>
<meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
<div class="min-h-full">


  <header class="relative bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0 after:border-y after:border-white/10">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">


<div class="grid grid-cols-3 grid-rows-4 gap-4">
  <a href="http://127.0.0.1:8000/dash/pyerrors/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">PEP 8 rules</h1><img  class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div></a>
  <a href="http://127.0.0.1:8000/dash/uml/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">UML Management</h1><img  class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div></a>
  <a href="http://127.0.0.1:8000/dash/boiler/">
  <div><h1 class="text-3xl font-bold tracking-tight text-white">Boilerplates</h1><img  class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div> </a>
  <a href="http://127.0.0.1:8000/dash/tracking/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Datatracking</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div> </a>
     <a href="http://127.0.0.1:8000/dash/integrity/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Software Integrity
</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div>
 <a href="http://127.0.0.1:8000/dash/filemanager/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">File Management</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div> </a>
     <a href="http://127.0.0.1:8000/dash/tests/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Tests</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div> </a>
    <a href="http://127.0.0.1:8000/dash/copy/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Copyright</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div></a>
     <a href="http://127.0.0.1:8000/dash/plagiarism/">
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Plagiarism</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div></a>
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div>
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div>
    <div><h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1><img class="rounded-lg" src="{% static 'dash/pizza.png' %}" alt="HTML5 Icon" > </div>
</div>
    </div>
  </main>
</div>

<section>
  
  {% for task in tasks_list %}
        <div><h1 class="text-3xl font-bold tracking-tight text-white">{{ task.id }} - {{ task.task_content }} - {{ task.pub_date }}- {{ task.done }}</h1>
  {% endfor %}

</section>

{% include "dash/partners.html" %} 
{% include "dash/footer.html" %}   
{% include "dash/sharesection.html" %}

</body>
</html> 

