{% load static %}
{% load navbar_tags %}
<header class="flex bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0 after:border-y after:border-white/10">
  <div class="w-14 flex-1">
    <div class="mx-auto text-center max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight bg-gradient-to-r from-green-500 via-yellow-600 to-red-400 bg-clip-text text-transparent">
        Dashboard
    </div>
  </div>
    <div class="w-64 flex-2">
  {% for navbar in navbar_list %}
  <a href="http://127.0.0.1:8000/dash/{{navbar.slug}}/">
<button class="transition ease-in-out delay-200 hover:-translate-y-1 text-lg text-rose-900 shadow-xl rounded-md hover:bg-gradient-to-r from-green-500 via-yellow-600 to-red-400 hover:scale-105 py-3 px-3 flex-shrink-0 bg-gray-900 text-white py-2 px-4 rounded"><ion-icon name="{{navbar.icon}}"></ion-icon> {{navbar.btn_name}}  <div class="relative group">
</button>
</a>
  {% endfor %}

  </div>

</header>