{% load static %}
<!DOCTYPE html>
<html>
<title> await </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
{% include "dash/navbar.html" %} 
      <section>
{% include "dash/content.html" %} 
              <section id="sharesection" class="content-center mx-8" style="margin-bottom: 2%; margin-top: 1%;">
                
                <table class="table-auto">
                  <thead>
                    <tr>
                      <th ><h6 class="text-1xl font-bold tracking-tight text-orange">Média id</h6></th>
                      <th><h6 class="text-1xl font-bold tracking-tight text-orange">Published </h6></th>
                      <th><h6 class="text-1xl font-bold tracking-tight text-orange">licence type ?</h6></th>
                      <th><h6 class="text-1xl font-bold tracking-tight text-orange">hashcodes ? </h6></th>
                      <th><h6 class="text-1xl font-bold tracking-tight text-orange">Publish ? </h6></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="transition ease-in-out delay-200 hover:-translate-y-1 text-lg text-rose-900 shadow-xl rounded-md hover:bg-gradient-to-r from-rose-300 via-rose-400 to-rose-400 hover:scale-105">
                      <td class="rounded-md">1</td>
                      <td class="rounded-md">no</td>
                      <td class="rounded-md">cc 4.0</td>
                      <td class="rounded-md">661727bdacb6d1eb7a41af51f6ac17b4fdb53e4d</td>
                      <td class="rounded-md">DO IT ⬇️</td>
                    </tr>
                    <tr class="transition ease-in-out delay-200 hover:-translate-y-1 text-lg text-rose-900 shadow-xl rounded-md hover:bg-gradient-to-r from-rose-300 via-rose-400 to-rose-400 hover:scale-105">
                      <td>2</td>
                      <td>no</td>
                      <td>OpenGL</td>
                      <td>3332b27bae7f288afc5b5268dc72a16839d3a07a</a></td>
                      <td>⬇️</td>


                    </tr>
                    <tr class="transition ease-in-out delay-200 hover:-translate-y-1 text-lg text-rose-900 shadow-xl rounded-md hover:bg-gradient-to-r from-rose-300 via-rose-400 to-rose-400 hover:scale-105">
                      <td>3</td>
                      <td>no</td>
                      <td>MIT</td>
                      <td>2882b55eb47c66123f0181a9f055ba18393d1151</td>
                      <td>⬇️</td>

                    </tr>
                  </tbody>
                </table>

              </section>
            </dl>
          </div>
        </div>
      </div>

    </section>
  </div>
  
  {% include "dash/partners.html" %} 
  {% include "dash/footer.html" %}   
  {% include "dash/sharesection.html" %}
</body>
</html> 

