{% load static %}
<!DOCTYPE html>
<html>
<title> Pyerrors Management </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
      <header class="relative bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0 after:border-y after:border-white/10">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-white">Pyerrors Management </h1>
        </div>
      </header>
      <section>
        {% if list_error_files %}
        <div><h1 class="text-3xl font-bold tracking-tight text-white">Error amount : {{ error_amount}} </h1>

          {% for report in result %}
          <div><h1 class="text-3xl font-bold tracking-tight text-white">Error File : {{ report }} </h1>


            {% endfor %}

            {% for spec in error_spec %}
            <div><h1 class="text-3xl font-bold tracking-tight text-white">-> : {{ spec }} </h1>


              {% endfor %}
              {% endif %}

            </section>
            {% include "dash/partners.html" %} 
            {% include "dash/footer.html" %}   
            {% include "dash/sharesection.html" %}
     </div>

</body>
</html> 

