{% load static %}
<!DOCTYPE html>
<html>
<title> Pyerrors Management </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
      <header class="relative bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0 after:border-y after:border-white/10">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-white">Pyerrors Management </h1>
        </div>
      </header>
           {% include "dash/calendary.html" %} 
                 <section>
        <div class="grid grid-cols-2 gap-4">
          {% if list_error_files %}
          <div class="bg-blue-500 p-4">
            {% for report in result %}
            <p class=" font-bold tracking-tight text-white">Error File : {{ report }} <p/>
              {% endfor %}
            </div>
            <div class="bg-green-500 p-4">
              {% for spec in error_spec %}
              <p class=" font-bold tracking-tight text-white">-> : {{ spec }} </p>
              {% endfor %}
            </div>
            <div>           
             {% endif %}   
           </section>
           {% include "dash/partners.html" %} 
           {% include "dash/footer.html" %}   
           {% include "dash/sharesection.html" %}
         </div>

       </body>
       </html> 

