{% load static %}
<!DOCTYPE html>
<html>
<title> Tests Management </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
{% include "dash/navbar.html" %} 
      <section style=" background-color: #343434; color: #f8f8f2; padding: 20px; ">
      {% include "dash/content.html" %} 
            <section  class="content-center mx-8" style="margin-bottom: 2%; margin-top: 1%;">
              <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl text-left py-12 "><span style="color: blue">Behave</span> tests </h2>

              <form id="testForm" method="POST" action="{% url 'tests' %}">
                {% csrf_token %}
                {% for test in behave_files %}
                <li class=" hover:scale-105 flex grid-cols-2  gap-x-2  bg-blue-300 shadow-lg shadow-blue-900 mt-2">
                  <div class="flex  min-w-0 gap-x-2 px-15 py-3 ">
                    <div> 
                     <button class="text-rose-900  " type="submit" name="{{test}}" class="btn">
                      Run {{test}}
                    </button>
                  </div>  
                </div>
              </li>

              {% endfor %}
            </form>

          </section>
          <section  class="content-center mx-8" style="margin-bottom: 2%; margin-top: 1%;">
            <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl text-left py-12 "><span style="color: blue">Unit</span> tests </h2>

            <form id="testForm" method="POST" action="{% url 'tests' %}">
              {% csrf_token %}
              {% for test in behave_files %}
              <li class=" hover:scale-105 flex grid-cols-2  gap-x-2  bg-blue-300 shadow-lg shadow-blue-900 mt-2">
                <div class="flex  min-w-0 gap-x-2 px-15 py-3 ">
                  <div> 
                   <button class="text-rose-900  " type="submit" name="{{test}}" class="btn">
                    Run {{test}}
                  </button>
                </div>  
              </div>
            </li>

            {% endfor %}
          </form>

        </section>
        <section>
         <h2>Tests Output</h2>
         <style>
          pre { background: linear-gradient(360deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); padding: 15px; border-radius: 5px; overflow-x: auto; }
        </style>
        <pre>{{ test_output }}</pre>
      </section>
    </div>
  </div>
</div>
</section>
</div>
{% include "dash/partners.html" %} 
{% include "dash/footer.html" %}   
{% include "dash/sharesection.html" %}
</body>
</html> 

