{% load static %}
<!DOCTYPE html>
<html>
<title> UML Management </title>
<head>
  <meta charset="UTF-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <html class="h-full bg-gray-900">
  <body class="h-full">
    <div class="min-h-full">
      <header class="relative bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0 after:border-y after:border-white/10">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-white">UML Management</h1>
        </div>
      </header>

      <section id="sharesection" class="content-center mx-8" style="margin-bottom: 2%; margin-top: 1%;">
        
        <table class="table-auto">
          <thead>
            <tr>
              <th><h1 class="text-3xl font-bold tracking-tight text-white">UML ID</h1></th>
              <th><h1 class="text-3xl font-bold tracking-tight text-white">Published Date</h1></th>
              <th><h1 class="text-3xl font-bold tracking-tight text-white">Download dot</h1></th>
              <th><h1 class="text-3xl font-bold tracking-tight text-white">Download image</h1></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>April 10, 2026, 12:11 p.m.</td>
              <td>⬇️</td>
              <td>⬇️</td>
            </tr>
            <tr>
              <td>2</td>
              <td>April 10, 2026, 12:11 p.m.</td>
              <td><a href="{% static 'uml/uml.dot' %}" download>⬇️</a></td>
              <td><a href="{% static 'uml/uml.png' %}" download>⬇️</a></td>


            </tr>
            <tr>
              <td>3</td>
              <td>April 10, 2026, 12:11 p.m.</td>
              <td>⬇️</td>
              <td>⬇️</td>
            </tr>
          </tbody>
        </table>
      </section>
      {% include "dash/partners.html" %} 
      {% include "dash/footer.html" %}   
      {% include "dash/sharesection.html" %}      
      
    </body>
    </html> 

